/* import font family */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* color palette */
:root {
  --bg: #09122c;
  --second: #872341;
  --third: #be3144;
  --fourth: #e17564;
}

/* style untuk seluruh element */
* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: "JetBrains Mono";
  color: white;
}

/* style smooth scroll */
html {
  scroll-behavior: smooth;
}

/*style untuk element body  */
body {
  background-color: var(--bg);
}

/* style element container */
.container {
  margin: 50px 9%;
}

/* membuat element bacground */
.circle {
  z-index: -99;
  position: absolute;
  width: 398px;
  height: 398px;
  background-color: #872341;
  border-radius: 50%;
  filter: blur(50px);
  top: -150px;
  left: -120px;
}

/* style untuk element navbar */
#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: anchor-center;
  font-weight: bold;
  padding-bottom: 60px;
}
#name {
  font-size: 2em;
}
.navbar-link {
  cursor: pointer;
}
.navbar-link a {
  padding: 0 10px;
  font-size: 1em;
  transition: 0.5s;
}
.navbar-link a:hover {
  color: var(--fourth);
  scale: 110%;
}
.bt-contact{
  padding: 5px 25px;
  background-image: linear-gradient(90deg, #e17564 0%, #872341 100%);
  border-radius: 7px;
  transition: 0.4s;
}
.bt-contact:hover{
  scale: 110%;
}

/* style untuk element profile */
#profile {
  display: flex;
  padding-bottom: 50px;
  align-items: center;
}
.box1 {
  position: absolute;
  rotate: -10deg;
  width: 270px;
  height: 270px;
  background-color: #2f2f2f;
  border-radius: 33px;
}
.box2 {
  position: relative;
  width: 270px;
  height: 270px;
  background-image: url(../img/profile.png);
  background-size: cover;
  border-radius: 33px;
}
.picture {
  padding-right: 10%;
}
.tittle {
  font-weight: bolder;
  font-size: 1.5em;
  margin: 0;
}
.text {
  font-family: "Arimo";
  text-align: justify;
}

/* style untuk element toolsSkill */
h1 {
  font-size: 2em;
  font-weight: bolder;
  justify-self: center;
  margin: 10px 0 10px 0;
}
.box-icon-tools {
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  padding: 5px 20px;
  background-color: var(--fourth);
  border-radius: 10px;
}
.box-icon-tools img {
  height: 50px;
  align-items: center;
  margin: 5px 5px;
  transition: 0.2s;
  align-content: center;
  cursor: default;
}
.box-icon-tools img:hover {
  scale: 110%;
}
/* style untuk element box-icon-skill */
.box-icon-skill {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  max-width: 730px;
  padding: 10px 10px;
  background-color: #be3144;
  border-radius: 10px;
  margin-bottom: 50px;
}
.box-icon-skill p {
  font-weight: bolder;
  padding: 5px 20px;
  border-radius: 4px;
  margin: 5px 5px;
  align-content: center;
  transition: 0.2s;
  cursor: default;
}
.box-icon-skill p:hover{
  scale: 110%;
} 

/* style untuk element galery */
.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 8px;
} 
.box-galery{
  background-color: var(--fourth);
  border-radius: 5px;
  text-align: center;
  place-content: center;
}
#div1 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
}
#div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
}
#div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 6;
}
#div4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 3;
}
#div5 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 5;
}
#div6 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}
#div7 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 6;
  grid-row-start: 3;
}
#div8 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 5;
}
      




/* responsive style */
/* tampilan tablet */
@media (max-width: 810px) {
  .container {
    margin: 25px 5%;
  }
  .circle{
    width: 300px;
  height: 300px;
  }
  html {
    font-size: 75%;
  }
  #profile {
    display: inline;
  }
  .picture {
    justify-self: center;
    margin-bottom: 36px;
  }
  .box-icon-tools img{
    height: 40px;
  }
  .box-icon-tools{
    padding: 3px 10px;
  }
  .box-icon-skill{
    max-width: 500px;
  }
  .box-icon-skill p{
    padding: 5px 10px;
  }
}

/* tampilan mobile */
@media (max-width: 700px) {
  html {
    font-size: 65%;
  }
  #navbar{
    padding-bottom: 40px;
  }
  .bt-contact a{
    padding: 5px 10px;
  }
  .box1{
    height: 200px;
    width: 200px;
  }
  .box2{
    height: 200px;
    width: 200px;
  }
  .navbar-link {
    display: none;
  }
  .box-icon-tools img{
    height: 30px;
  }
}
