/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* color palette */
:root{
    --bg: #09122C;
    --second: #872341;
    --third: #BE3144;
    --fourth: #E17564;
}

/* style untuk seluruh element */
* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "JetBrains Mono";
    color: white;
  }

  /*style untuk element body  */
body{
    background-color: var(--bg);
}